body {
    font-family: Arial, sans-serif;
  }
  
  .form-container {
    width: 80%;
    margin: 20px auto;
    border: 2px solid #008080;
    border-radius: 10px;
    overflow: hidden;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  
  th, td {
    padding: 15px;
    border: 1px solid #008080;
  }
  
  th {
    background-color: #2d6d6d;
    color: white;
  }
  
  td {
    background-color: #afeeee;
  }
  
  td, th {
    border-radius: 10px;
    border: 1px solid #008080;
  }
  
  thead th {
    border-top: none;
  }
  
  tbody td:first-child {
    border-left: none;
  }
  
  tbody td:last-child {
    border-right: none;
  }
  